main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-sobre .conteiner1{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.main-sobre .conteiner1 .box1{
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
    transition: 0.4s;
}
.main-sobre .conteiner1 .box1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-sobre .conteiner1 .box2{
    max-width: 600px;
    color: white;
}
.main-sobre ul{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 40px;
}
@media screen and (max-width: 1200px) {
    .main-sobre .conteiner1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 750px;
    }
    .main-sobre .conteiner1 .box1{
        height: 800px;
        width: 100%;
    }
    .main-sobre .conteiner1 .box1 img{
        object-position: top;
    }
    .main-sobre .conteiner1 .box2{
        max-width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .main-sobre .conteiner1 .box1{
        height: 600px;
    }
}
